html, body {
    height: 100%
}

.post-container {
    border-width:2px;
    border-style:solid;
    border-color:black;
}

/**
 * Adds a border to limit of a row column
 */
.border {
    border-right: 1px solid black;
}

.full-height {
    min-height: 100%;
}

.ql-editor{
    min-height: 100px;
}