<!--<textarea class="content" name="example"></textarea>-->
<form action="/userpost" method="POST" enctype="multipart/form-data" id="feed-post-form" multiple="multiple">

<!--     <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="add-post-files">
        <label class="form-check-label" for="add-post-files">
            Attach Files
        </label>
    </div>

    <div class="quill-composer" id="quill-feed-newpost">
    </div>

    </div> -->
    <div class="quill-composer" id="quill-feed-newpost"></div>
    <input type="text" name="text" id="user-post-text" value="" hidden>
    <button id="post-button" class="btn btn-light btn-sm btn-block shadow p-1 mt-2 bg-muted " type="submit">
        Submit Post
    </button>        
    <hr>
</form>

<!--    <div class="row">-->
<!--        <div class="col-sm-6">-->
<!--            <label for="text">Create New Post</label>-->
<!--            <textarea class="form-control" id="text" rows="3" name="text" hidden></textarea>-->
<!--            <div class="quill-composer" id="quill-settings-about">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-4 py-4">-->
<!--            <input type="file" id="files" name="files">-->
<!--            <button type="submit" class="btn btn-primary">Submit Post</button>-->
<!--        </div>-->
<!--    </div>-->
