<!--<textarea class="content" name="example"></textarea>-->
<form action="/userpost" method="POST" enctype="multipart/form-data">
    <input type="file" id="files" name="files">

    <div class="form-group">
        <label for="text">Post</label>
        <textarea class="form-control" id="text" rows="3" name="text"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Post!</button>
</form>