<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ISN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- RequireJS Modules -->
        <script data-main="scripts/main" src="scripts/external/require.js"></script>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/external/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/external/dropzone/dropzone.min.css">
        <link rel="stylesheet" href="/stylesheets/external/quill/quill.snow.css">
        <link rel="stylesheet" href="/stylesheets/external/jquery/plugins/jquery-confirm/jquery-confirm.css">
        <link rel="stylesheet" href="/stylesheets/external/tagify/tagify.css">
        <link rel="stylesheet" href="/stylesheets/external/highlight/default.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

        <link rel="stylesheet" href="/stylesheets/general-style.css">



    </head>
<body>

<div id="alerts-container">
    <!-- User alerts will go here -->
</div>

<%- include('nav') %>

