<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ISN</title>

        <!-- jQuery -->
        <script src="/scripts/external/jquery.js"></script>


        <!-- Bootstrap -->
        <link rel="stylesheet" href="/stylesheets/external/bootstrap/bootstrap.css">
        <script src="/scripts/external/bootstrap/bootstrap.js"></script>

        <!-- Settings -->
        <script src="/scripts/external/tagify.js"></script>
        <link rel="stylesheet" href="/stylesheets/external/tagify.css">
        <script type="module" src="/scripts/modules/settings.js"></script>


        <!-- QuillJS -->
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <!-- FontAwesome 4 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

        <!-- DropzoneJS -->
        <script src="/scripts/external/dropzone.js"></script>
        <link rel="stylesheet" href="/stylesheets/external/dropzone.min.css">


        <!-- RichText -->
        <script src="/scripts/external/jquery.richtext.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/external/richtext.min.css">


        <script src="/scripts/modules/composer.js"></script>
        <link href="/stylesheets/general-style.css">

        <!-- Misc -->
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>


    </head>
<body>

<%- include('nav') %>