<div class="post-info border-top border-bottom">
    <div class="row">
        <div class="col-1 p-3 ">
            <div class="circle-avatar" style="background-image:url(<%= post.InfoUser[0].photo %>)"></div>
        </div>
        <div class="col-7 py-3">
            <b>
                <%= post.InfoUser[0].fullName %>
            </b> @<%= post.createdBy %>
            <br>
            <div class="text-justify">
                <%= post.content.text %>
            </div>
        </div>
        <div class="col-4 p-4 my-auto">
            <div class="col-6 align-middle"><i class="far fa-comment"></i> Comentar</div>
        </div>
    </div>
</div>