<div class="post-info border-top border-bottom">
    <div class="row">
        <div class="col-2">
            <img src="images/User.png" class="img-fluid">
        </div>
        <div class="col-10">
            <p><%= post.createdBy %></p>
            <p><%= post.content.text %></p>
        </div>
    </div>
</div>
<div class="post-buttons">
    <div class="row">
        <div class="col-6 "><i class="far fa-heart"></i> Gosto</div>
        <div class="col-6"><i class="far fa-comment"></i> Comentar</div>
    </div>
</div>