<%- include('partials/header') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img class="img-fluid" src="/images/User.png">
            <h3>User Name</h3>
            <hr>
            <p>Grupos</p>
        </div>
        <div class="col-10">
            <h2>Feed</h2>

            <% for(let i = 0 ; i < 5 ; i++) {%>
                <%- include('partials/post') %>
            <%}%>
        </div>
    </div>

</div>

<%- include('partials/footer') %>