<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="ISN">
<head>
    <meta charset="utf-8">
    <title>Login</title>

    <script src="/scripts/external/angular/1.7.8/angular.min.js"></script>
    <script src="/scripts/external/angular/1.7.8/angular-translate.min.js"></script>
    <script src="/scripts/external/angular/1.7.8/angular-translate-loader-static-files.min.js"></script>
    <script src="/scripts/app-translations.js"></script>


    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- RequireJS Modules -->
    <script data-main="scripts/main" src="scripts/external/require.js"></script>

    <style>
        body {
            background-color: #ac0017;
        }
    </style>
</head>
<body ng-controller="multiLang">

    <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-head">
                <img class="img-fluid" src="images/logo.png" alt="App Logo">
            </div>
            <div class="card-body">
                <div id="login-form-container">
                    <h1 class="text-center">{{ 'LOGIN_STRING' | translate }}</h1>

                    <form class="form-signin" method="post" action="/login">
                        <div class="form-label-group">
                            <label for="usernameInput">{{ 'USERNAME_STRING' | translate }}</label>
                            <input type="text" name="username" id="usernameInput" class="form-control" placeholder="{{'USERNAME_STRING' | translate}}" required autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="passwordInput">Password</label>
                            <input type="password" name="password" id="passwordInput" class="form-control" placeholder="{{'PASSWORD_STRING' | translate}}" required>
                        </div>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                        <br>
                        <p>You don't hold an account? <a id="call-register" href="#">Register</a></p>
                    </form>
                </div>


                <div id="register-form-container" style="display:none">
                    <h1 class="text-center">Register</h1>
                    <form class="form-register" method="post" action="/register">
                        <div class="form-label-group">
                            <label for="nameInput">Nome</label>
                            <input type="text" name="name" id="nameInput" class="form-control" placeholder="{{'FULLNAME_STRING' | translate}}" required autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="emailInput">E-mail</label>
                            <input type="email" name="email" id="emailInput" class="form-control" placeholder="{{'EMAIL_STRING' | translate}}" required>
                        </div>

                        <div class="form-label-group">
                            <label for="usernameInput">Username</label>
                            <input type="text" name="username" id="usernameInput" class="form-control" placeholder="{{'USERNAME_STRING' | translate}}" required>
                        </div>

                        <div class="form-label-group">
                            <label for="passwordInput">Password</label>
                            <input type="password" name="password" id="passwordInput" class="form-control" placeholder="{{'USERNAME_STRING' | translate}}" required>
                        </div>

                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                        <button id="call-login" class="btn btn-lg btn-primary btn-block">Cancelar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>