<%- include('partials/header') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 d-none d-lg-block">
            <img class="img-fluid" src="/images/User.png">
            <h3>Full Name</h3>
            <hr>
            <p>Grupos</p>
        </div>
        <div class="col-sm-10">
            <h2>Feed</h2>
            <!-- Create the editor container -->
            <%- include('partials/composer') %>
            <!--            <form action="/feed" method="post">-->
            <!--                <button type="submit">Post</button>-->
            <!--            </form>-->
            <% data.forEach(post => {%>
                <div class="">
                    <%- include('partials/post', {post: post}) %>
                </div>
            <% }) %>
        </div>
    </div>

</div>

<%- include('partials/footer') %>