<%- include('partials/header') %>

<!-- New Chatroom Modal -->
<div class="modal" id="new-chatroom-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Chatroom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/messenger/new" method="post">
                    <div class="form-group">
                        <label for="chatRoomName">Chatroom Name</label>
                        <input type="text" class="form-control" id="chatRoomName" name="name" aria-describedby="emailHelp" placeholder="Chatroom Name">
                        <small id="chatRoomNameHelp" class="form-text text-muted">You will be automatically associated with this chatroom.</small>
                    </div>
                    <div class="form-group">
                        <label for="chatRoomParticipants">Participants</label>
                        <input type="text" name="participants" id="chatRoomParticipants" value="" placeholder="Participants" autofocus>
                        <small id="chatRoomParticipantsHelp" class="form-text text-muted">Add a comma after each participant username</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid d-flex h-100 flex-column mt-5 pt-5">
    <div class="row full-height">
        <div class="col-3 border-right">
            <h4>Chats</h4>
            <button id="new-chat" class="btn btn-outline-danger" style="width:100%">New Chat</button>
            <div class="chat-sidebar-container">
                <ul class="list-group">
                    <% data.forEach(message => { %>
                        <li class="list-group-item open-conversation" id="<%= message._id %>">
                            <%= message.name%>
                        </li>
                    <% }); %>
                </ul>
            </div>

        </div>
        <div class="col-9">
            <div id="chat-box-container">
                <div id="no-chat-selected">
                    <h2 class="text-center">Mensagens</h2>
                    <br>
                    <br>
                    <p class="text-center">Para visualizar uma mensagem, selecione um Chat da barra lateral esquerda</p>
                </div>

                <div id="chat-selected">
                    <h2 class="text-center" id="chatName"></h2>
                    <ul class="list-group" id="messages-wrapper"></ul>

                    <form>
                        <input type="text" name="text" id="message-body-form">
                        <input type="hidden" name="chatId" value="">
                        <input type="button" id="send-message-button" value="Send">
                    </form>
                    <button class="btn btn-danger" id="leave-conversation" value="">Leave</button>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('partials/footer') %>