<%- include('partials/header') %>
<br>
<br>
<br>
<br>

<div>
    <form>
        <div class="form-group px-3">
            <h5>Insert your new password</h5>
            <label for="newpassword"></label>
            <input type="password" name="newpassword" id="newpassword" class="form-control" autofocus>
            <input name="token" id="token" type="text" hidden value="<%= token %>">
            <button id="newpasswordbtn"
                class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                Submit
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    require(['../scripts/main'], (main) => {
        require(['modules/resetPassword/main-resetPassword']);
    });
</script>

<%- include('partials/footer') %>