<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ISN</title>

        <!-- jQuery -->
        <script src="/scripts/external/jquery.js"></script>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="/scripts/external/jquery.js"></script>

        <script src="/scripts/external/bootstrap.js"></script>

        <script src="/scripts/external/tagify.js"></script>
        <link rel="stylesheet" href="/stylesheets/external/tagify.css">
        <script src="/scripts/modules/set-tagify.js"></script>

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <!-- FontAwesome 4 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

        <link href="/stylesheets/general-style.css">
    </head>
<body>

<%- include('nav') %>