<div class="post-info border-top border-bottom">
    <div class="row">
        <div class="col-2">
            <img src="images/User.png" class="img-fluid">
        </div>
        <div class="col-10">
            <p><%= post.fullName %></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Praesent eu lorem nisl. Aenean gravida felis eu metus gravida, id feugiat justo suscipit.</p>
            <p>Proin egestas sem a risus sodales egestas.</p>
        </div>
    </div>
</div>
<div class="post-buttons">
    <div class="row">
        <div class="col-6 "><i class="far fa-heart"></i> Gosto</div>
        <div class="col-6"><i class="far fa-comment"></i> Comentar</div>
    </div>
</div>